<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div id="formHeader"><p>Log In</p></div>

<!--        <% if(messages.error){%>-->
<!--        <%= messages.error%>-->
<!--        <%}%>-->
        <!-- Login Form -->
        <form id="login_form" action="/login" method="post">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Submit">
        </form>

        <div id="formFooter">
            <p>Do not have an account? <a class="underlineHover" href="/adduser">Register</a></p>
        </div>
        <!-- Remind Passowrd -->
<!--        <div id="formFooter">-->
<!--            <a class="underlineHover" href="#">Forgot Password?</a>-->
<!--        </div>-->

    </div>
</div>
</body>
</html>