<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <script src="https://kit.fontawesome.com/c99e9206a7.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/twitter_all_users.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/twitter_all_users.css' />
</head>
<body>

<nav class="navbar navbar-inverse  navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main">Twitter Clone</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="home"><a href="/main">Home</a></li>
            <li id="search_item" ><a href="/search_item">Search Item</a></li>
            <li id="add_item"><a  href="/add_item">Add Item</a></li>
            <li id="all_users" class="active"><a  href="/all_users">All Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="sign_up" href="/adduser"><span class="glyphicon glyphicon-user"></span>  <%= sign_up_text %></a></li>
            <li><a id="login" href="/login"><span class="glyphicon glyphicon-log-in"></span> <%= login_text %></a></li>
        </ul>
    </div>
</nav>


<div id="spinner" class="spinner container-fluid">
    <div class="row">
        <div class="col-md-12">
            <i class="fa-9x fas fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>


<div class="container-fluid card_container">
    <div class="row">

<!--        this is one user card. One row can hold 12/2=6 on large view ports-->
        <div id="dummy_col" class="col-md-auto col-lg-3 card_col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/imgs/user.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title card_title">Username</h5>
                            <p>Email: test@test.com</p>
                            <p id="dummy_followers_count" class="card-text">Followers: 0</p>
                            <p class="small_container"><small id="dummy_followers" class="text-muted">user4, user5, user6</small></p>
                            <p id="dummy_following_count" class="card-text">Following: 10</p>
                            <p class="small_container"><small id="dummy_following" class="text-muted">user1, user2, user3</small></p>
                            <span class="card_button_span"><button id="dummy_follow_button" class="btn btn-primary btn-sm">Follow</button><a href="/search_item">See this user's tweets</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--            end of the view port-->

    </div>
</div>





</body>
</html>