img {
    max-width:100%;
    height:auto;
}

.card_col{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 3%;
    margin: 2%;
    background-color: #fff !important;
    padding:1%;
}

.card_container{
    margin-top: 2%;
}

.card_title{
    font-weight: bold;
}

.card_button_span > *{
    padding-left: 15px;
}

.card-body > p{
    word-wrap:break-word;
}


p.small_container{

}

#spinner, #spinner li{
    text-align: center;
}


